<p id="notice"><%= notice %></p>
<h1>Buildings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.title %></td>
        <td><%= building.code %></td>
        <td><%= button_to 'Show', building, method: :get %></td>
        <td><%= button_to 'Edit', edit_building_path(building.id), :method => :get %></td>
        <td><%= button_to 'Destroy', building, method: :delete, :onclick => "return confirm('Are you sure you want to delete this building and all its children rooms?')" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building', new_building_path %>
