<%= simple_form_for(@lesson) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_at %>
    <%= f.input :end_at %>
    <%= f.input :duration %>
    <%= f.association :course %>
    <%= f.association :teachers,include_blank: false, as: :radio_buttons, label_method: lambda {|teacher| "#{teacher.first_name} #{teacher.last_name}"} %>
    <%= f.association :room %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
