<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Duration</th>
      <th>Course</th>
      <th>Teacher</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.start_at %></td>
        <td><%= lesson.end_at %></td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.course %></td>
        <td><%= lesson.teacher %></td>
        <td><%= lesson.room %></td>
        <td><%= button_to 'Show', lesson, method: :get %></td>
        <td><%= button_to 'Edit', edit_lesson_path(lesson.id), :method => :get %></td>
        <td><%= button_to 'Destroy', lesson, method: :delete, :onclick => "return confirm('Are you sure you want to delete this lesson?')" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
