<p id="notice"><%= notice %></p>
<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= teacher.email %></td>
        <td><%= button_to 'Show', teacher, method: :get %></td>
        <td><%= button_to 'Edit', edit_teacher_path(teacher.id), :method => :get %></td>
        <td><%= button_to 'Destroy', teacher, method: :delete, :onclick => "return confirm('Are you sure you want to delete this teacher and all his/her lessons?')" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
